RewriteEngine On
RewriteBase /

# Protect the .htaccess file
RewriteRule /?\.htaccess$ - [F,L]

RewriteCond %{HTTP_HOST} aikido-roncq\.fr [NC]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]

#RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php
